@font-face{
    font-family: Roboto;
    src: url(./fonts/roboto/Roboto-Regular.ttf);
}
body{margin: 0;}
.main {
    background-color: #EEEFF1;
    padding-top: 162px;
}
i {
    font-family: "iconFont";
    font-size: 40px;
    color: red;
}
.higherContainer{
    background-color: #EEEFF1;
    
}
.logo{
    padding-top: 40px;
    padding-left: 17vw;
    width: 85px;
}
.higherMenu{
    margin-top: -50px;
    padding-left: 50vw;
}
.textHigherMenu{
    font-family: Roboto;
    color: #34547A;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: 600;
    text-decoration: none;
    padding-right: 2%;
    padding-bottom: 3vw;
    margin-bottom: 0px;
}
.container {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}
.leftColoan{
    margin-left: 11vw;
    float: left;
    margin-top: 3%;
}
.rightColoan{
    float: left;
    margin-left:11%;
}
.headingRightColoan{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 48px;
    font-family: Roboto;
    line-height: 79px;
    font-weight: 600;
}
.mainInformation{
    font-family: Roboto;
    color: #727272;
    line-height: 26px;
}
.bottom{
    text-align: center;
    margin-top: 60px;
    background: #34547A;
    height: 65px;
    width: 225px;
    margin-bottom: 5vh;
}
.bottomText{
    padding-top: 20px;
    color: white;
    font-family: Roboto;
    letter-spacing: 0.1em;
    font-size: 16px;
    text-decoration: none;
    
}
.infoAboutMe {
    padding-top: 10vh;
    text-align: center;   
}
.HedingInfoAboutMe{
    font-family: Roboto;
    font-size: 32px;
    font-weight: 600;/*Как вытянуть буквы, и почему font-weight Нужно делать жирнее чем в примере, пробел;*/

}
.textInfoAboutMe{
    margin-top: 5vh;
    color: #727272;
    font-family: Roboto;
    line-height: 26px;
    margin-bottom: 10vh;
}
.projectsLine{
    padding-top: 5vh;
    background-color: #34547A;
    padding-bottom: 5vh;
}
.projImg{
    height: 6vh;
    margin-right: 2vw; 
}
.projectsLine{
    text-align: center;
}
.containerSkills{
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    
}
.leftColoanSkills{
    margin-left: 5%;
    float: left;
    margin-right: 4%;
}
.headingSkills{
    font-family: Roboto;
    font-weight: 500;
    font-size: 32px;
    margin-top: 15vh;
}
.nameOfSkills{
    font-family: Roboto;
    color: #727272;
    margin: 50 auto 20px;
    font-size: 16px;
}
.rightColoanSkills{
    margin-top: 5vh;
}
.firstPartLoadLine{
    
    margin-bottom: 30px;
    height: 4px;
    width: 23.5vw;
    background-color: #C4C4C4;
}
.secondPartLoadLine{
    
    width: 80%;
    height: 4px;
    background-color: #34547A;
    
}
.rightColoanSkills{
    float: left;
    width: 50%;
    text-align: center;
    
}
.photoFace{
    width: 30vw;
    margin: 5% auto;
    min-width: 300px;
}
.howIWork{
    background-color: #EEEFF1;/*Поменять на нужный цвет*/
    margin: 0 auto;
}
.howIWOrkInformation{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.headdingInfHIW{
    font-family: Roboto;
    font-weight: 500;
    font-size: 32px;
    padding-top: 100px;
    text-align: center;
}
.informtionInHowIWork{
    padding-top:  34px;
    margin: 0 auto;
    color: #727272;
    font-family: Roboto;
    width: 50%;
    text-align: center;
}
.VideoContainer{
    text-align: center;

}
.video{
width: 50vw;
padding-top: 5vh;
padding-bottom: 5vh;
}
.blockProjectPhoto{
    overflow: hidden;
}
.containerProjectsPhoto{
    width: 100%;
}
.forViewMark{
    width: 25vw;
    height: 25vw;
    float: left;
    background-image: url(./image/photoProj3.png);
    background-size: 100%;
}
.viewMark{
    width: 22.222%;
    padding-left: 38.889%;
    padding-top: 38.889%;
}
.projectImg{
    width: 25vw;
    float: left;
}
.containerMicrosoftLogo{
    text-align: center;
    overflow: hidden;
    
}
.microsoftLogo{
    margin-top: 3vh;
    margin-right: 30px;
    width: 15%;
    margin-bottom: 3vh;
}
.blockContactForm{
    background-color: #EEEFF1;
    overflow: hidden;
}
.infoForm {
    padding-top: 5vh;
    text-align: center;
}
.callForm{
    width: 540px;
    margin: 0 auto;
}
.textYourName{
    float: left;
}
.textYourEmail{
    float: inline-end;
}
.inputName{
    width: 255px;
    height: 50px;
    margin-right: 25px;
    border: none;
}
.inputEmail{
    width: 255px;
    height: 50px;
    border: none;
    }
.blockEmailAndName{
    width: 560px;
}
.textComment {
    margin-top: 20px;
}
.inputComment{
    height: 175px;
    width: 540px;
    border: none;
    margin-bottom: 34px;
}
.bottomSend{
    text-align: center;
    background: #34547A;
    height: 65px;
    width: 225px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.bottomBar{
    height: 15vh;
    background-color: #34547A;
    overflow: hidden;
}
.name{
    font-family: Roboto;
    color: #FFFFFF;
    font-size: 21px;
}
.law{
    font-family: Roboto;
    color: #FFFFFF;
    font-size: 13px;
}
.infoAndLaw{
    margin-left: 20vw;
    margin-top: 1%;
    float: left;
}
.logoVk{
    margin-left: 15px;
}
.blocklogoVk{
    padding-top: 3%;
    margin-left: 70vw;
}
@media (max-width: 1446px) {
    .leftColoan{
        margin-left: 0px;
    }
    .rightColoan{
        margin-left: 6%;
    }
    .leftColoanSkills{
        float: none;
        text-align: center;
    }
    .rightColoanSkills{
       margin-left: 20vw;
    }
    .loadLineSkills{
        padding-left: 10%;
    }
    .firstPartLoadLine{
        width: 60vw;
    }
}
@media (max-width: 1165px) {
    .leftColoan{
        margin-left: 30%;
    }
    .rightColoan{
        margin-left: 30%;
    }
    .logo{
        padding-left: 5%;
    }
    .higherMenu{
        padding-left: 20%;
    }
}
@media (orientation: portrait) {
    .main{
        
        padding-top: 5%;
    }
    .bottom{
        margin-left: 20%;
    }
    .informtionInHowIWork{
        width: 100%;
    }
}
@media (max-width: 909px) {
    .headdingInfHIW{
        margin-top: 0px;
        padding-top: 10px;
    }
    
}
@media (max-width: 768px){
    .container{text-align: center;}
    .leftColoan{
        margin-left: 20%;
        
    }
    .rightColoan{
        margin-left: 10%;
        
    }
}
@media (max-width: 425px){
    .logo{
        text-align: center;
        padding-left: 40%;
    }
    .textHigherMenu{
        font-size: 14px;
        text-align: center;       
    }
    .higherMenu{
        padding-left: 7px;
        margin: 0 auto;
    }
    .leftColoan{
        margin-left: 15%;
    }
    .laptopImg{
        width: 60vw;
    }
    .rightColoan{
        margin-left: 5%;
    }
    .headingRightColoan{
        font-size: 30px;
        margin-bottom: 0px;
    }
    .bottom{
        margin-left: 12%;
    }
    .mainInformation{
        margin: 0;
    }
    .infoAboutMe{
        padding-top: 0px;
    }
    .rightColoanSkills{
        margin-left: 5vw;
    }
    .headingSkills{
        margin: 0px auto ;
        padding-top: 5px;
    }
    .photoFace{
        width: 100%;
    }
    .howIWOrkInformation{
        width: 80%;
    }
    .informtionInHowIWork{
        padding-top: 1%;
    }
    .headdingInfHIW{
        margin-bottom: 1%;
    }
    .video{
        padding-top: 1%;
        width: 70vw;
        height: 50vw;
    }
    .microsoftLogo{
        margin-right: 3%;
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 20%;
    }
    .infoForm{
        padding-top: 0px;
    }
    .callForm{
        width: auto;
    }
    .blockEmailAndName{
        width: auto;
        text-align: center;
    }
    .textYourName{
        float: none;
    }
    .inputName{
        margin: 5px 0px;
    }
    .inputComment{

        width: 90%;
    }
    .bottomSend{
        margin-bottom: 5%;
    }
    .textInfoAboutMe{
        margin-bottom: 5vh;
    }
    .infoAndLaw{
        margin-left: 3vw;
    }
    .blocklogoVk{
        margin: 0;
    }
}
@media (max-width: 320px){
    .headingRightColoan{
        font-size: 25px;
    }
    .bottom{
        margin-left: 0px;
    }
    .rightColoanSkills{
        margin: 0px;
    }
    .logoVk{
        margin-left: 3%;
    }
}

