.clock{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: grey;
}
.secLine{
    margin-left: 100px;
    height: 100px;
    width: 5px;
    background-color: black;
}
.hourLine{
    margin-left: 100px;
    height: 50px;
    width: 7px;
    background-color: red;

}
@keyframes hourLine{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.hourLine{
    animation-name: secLine;
    animation-iteration-count: infinite;
    animation-duration: 360s;
    animation-timing-function: linear;
}
@keyframes secLine{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.secLine{
    transform-origin: bottom;
    animation-name: secLine;
    animation-iteration-count: infinite;
    animation-duration: 60s;
    animation-timing-function: linear;
}

@keyframes test1{
    from{
        width: 50vw;
    }
    to{
        width: 100vw;
    }
}
@keyframes loader{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.loader{
    animation-name: loader;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
    

}
.test1{
    width: 50vw;
    background-color: blue;
    animation-name: test1;
    animation-duration: 4s;
    animation-timing-function: case-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 2s;
}
.test1:hover{
    animation-play-state:
    paused;
}
@font-face{
    font-family: "iconFont";
    src: url('./fonts/fontello/font/fontello.ttf');
}
body{margin: 0;}
.main {
    background-color: #EEEFF1;
    padding-top: 162px;
}
i {
    font-family: "iconFont";
    font-size: 40px;
    color: red;
}
.higherContainer{
    background-color: #EEEFF1;
    height: 117px;
}
.logo{
    padding-top: 40px;
    padding-left: 17vw;
    width: 85px;
}
.higherMenu{
    margin-top: -50px;
    padding-left: 50vw;
}
.textHigherMenu{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #34547A;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: 600;
    text-decoration: none;
    padding-right: 2%;
}
.container {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}
.leftColoan{
    margin-left: 11vw;
    float: left;
    margin-top: 3%;
}
.rightColoan{
    float: left;
    margin-left:11%;
}
.headingRightColoan{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 79px;
    font-weight: 600;
}
.mainInformation{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #727272;
    line-height: 26px;
}
.bottom{
    text-align: center;
    margin-top: 60px;
    background: #34547A;
    height: 65px;
    width: 225px;
    margin-bottom: 5vh;
}
.bottomText{
    padding-top: 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.1em;
    font-size: 16px;
    text-decoration: none;
    
}
.infoAboutMe {
    padding-top: 10vh;
    text-align: center;   
}
.HedingInfoAboutMe{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 600;/*Как вытянуть буквы, и почему font-weight Нужно делать жирнее чем в примере, пробел;*/

}
.textInfoAboutMe{
    margin-top: 5vh;
    color: #727272;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 26px;
    margin-bottom: 10vw;
}
.projectsLine{
    padding-top: 100px;
    background-color: #34547A;
    height: 10em;
}
.projImg{
    height: 50px;
    margin-right: 49px; 
}
.projectsLine{
    text-align: center;
}
.containerSkills{
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    height: 40em;
}
.leftColoanSkills{
    margin-left: 5%;
    float: left;
    margin-right: 4%;
}
.headingSkills{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 32px;
    margin-top: 204px;
}
.nameOfSkills{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #727272;
    margin: 50 auto 20px;
    font-size: 16px;


}
.firstPartLoadLine{
    
    margin-bottom: 30px;
    height: 4px;
    width: 446.36px;
    background-color: #C4C4C4;
}
.secondPartLoadLine{
    
    width: 349px;
    height: 4px;
    background-color: #34547A;
    
}
.rightColoanSkills{
    float: left;
    width: 50%;
    text-align: center;
    height: 100%;
    
}
.photoFace{
    width: 30vw;
    margin: 5% auto;
}
.howIWork{
    background-color: #EEEFF1;/*Поменять на нужный цвет*/
    height: 50vw;
    margin: 0 auto;
}
.howIWOrkInformation{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.headdingInfHIW{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 32px;
    padding-top: 100px;
    text-align: center;
}
.informtionInHowIWork{
    padding-top:  34px;
    margin: 0 auto;
    color: #727272;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 50%;
    text-align: center;
}
.VideoContainer{
    height: 100vh;
    text-align: center;

}
.video{
width: 50vw;
padding-top: 55px;
}
.blockProjectPhoto{
    margin-top: 28px;
    height: 50vw;
}
.containerProjectsPhoto{
    width: 100%;
}
.projectImg{
    width: 25vw;
    float: left;
}
.containerMicrosoftLogo{
    height: 20vh;
    text-align: center;
    overflow: hidden;
    
}
.microsoftLogo{
    margin-top: 5vh;
    margin-right: 30px;
    width: 15%;
}
.blockContactForm{
    background-color: #EEEFF1;
    overflow: hidden;
}
.infoForm {
    height: 15em;
    padding-top: 68px;
    text-align: center;
}
.callForm{
    width: 540px;
    margin: 0 auto;
}
.textYourName{
    float: left;
}
.textYourEmail{
    float: inline-end;
}
.inputName{
    width: 255px;
    height: 50px;
    margin-right: 25px;
    border: none;
}
.inputEmail{
    width: 255px;
    height: 50px;
    border: none;
    }
.blockEmailAndName{
    width: 560px;
}
.textComment {
    margin-top: 20px;
}
.inputComment{
    height: 175px;
    width: 540px;
    border: none;
    margin-bottom: 34px;
}
.bottomSend{
    text-align: center;
    background: #34547A;
    height: 65px;
    width: 225px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.bottomBar{
    height: 15vh;
    background-color: #34547A;
    overflow: hidden;
}
.name{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
    font-size: 21px;
}
.law{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
    font-size: 13px;
}
.infoAndLaw{
    margin-left: 20vw;
    margin-top: 1%;
    float: left;
}
.logoVk{
    margin-left: 15px;
}
.blocklogoVk{
    padding-top: 3%;
    margin-left: 70vw;
}
@media (max-width: 1446px) {
    .leftColoan{
        margin-left: 0px;
    }
    .rightColoan{
        margin-left: 6%;
    }
    .leftColoanSkills{
        float: none;
    }
    .containerSkills{
        height: 20%;
    }

}
@media (max-width: 1155px) {
    .main{
        height: 80vh;
    }
    .leftColoan{
        margin-left: 30%;
    }
    .rightColoan{
        margin-left: 30%;
    }
    .logo{
        padding-left: 5%;
    }
    .higherMenu{
        padding-left: 20%;
    }
}
@media (orientation: portrait) {
    .main{
        
        padding-top: 5%;
    }
    .bottom{
        margin-left: 20%;
    }
    .informtionInHowIWork{
        width: 100%;
    }
}
@media (max-width: 909px) {
    .headdingInfHIW{
        margin-top: 0px;
        padding-top: 10px;
    }
    
}
@media (max-width: 713px){
    .container{text-align: center;}
    .leftColoan{
        margin-left: 25%;
        
    }
    .rightColoan{
        margin-left: 15%;
        
    }
}
@media (max-width: 648px){
    .logo{
        text-align: center;
        padding-left: 45%;
    }
    .textHigherMenu{
        font-size: 14px;
        padding-left: 1%;
        
    }
    .higherMenu{
        padding-left: 7px;
        margin: 0 auto;
    }
    .headingSkills{
        margin: 0 auto ;
    }
    .photoFace{
        width: 100%;
    }
    .informtionInHowIWork{
        padding-top: 1%;
    }
    .headdingInfHIW{
        margin-bottom: 1%;
    }
    .video{
        padding-top: 1%;
        height: 30%;
    }
    .VideoContainer{
        
    }
}