
.icon-music:before { content: '\e800'; } /* '' */
.icon-emo-surprised:before { content: '\e806'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */